<!DOCTYPE html>
<html>
  <head>
    <title>PRODUCT FORM</title>
    <link rel="stylesheet" src="stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Cabin&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <h1>Form for Updating Data. </h1>
    <!-- <%-id%> -->
    <form action="/api/update-data/<%-id%>" method="post" autocomplete="off">
      <h2>Enter Information: </h2>

      <input type="text" name="name" placeholder="Name" />
      <input type="number" name="phone_number" placeholder="Phone No." />
      <input type="email" name="email" placeholder="E-mail" />
      <input type="text" name="hobbies" placeholder="Hobbies" />
        
      <input type="submit" value="Save" />
    </form>
    
  </body>
</html>
